TZ=Asia/Yekaterinburg
RTKEY_ACCESS_TOKEN=replace_with_bearer_token
SERVER_IP=192.168.1.50
RTSP_BIND_IP=0.0.0.0
RTSP_PORT=8554
RTSP_USERNAME=spruthub
RTSP_PASSWORD=replace_with_random_password
GO2RTC_API_USERNAME=controller
GO2RTC_API_PASSWORD=replace_with_random_password
AUDIO_MODE=copy
AUDIO_OVERRIDES_JSON={}
ALLOWED_STREAM_HOST_SUFFIXES=camera.rt.ru
HTTP_TIMEOUT_SECONDS=20
RTSP_PROBE_TIMEOUT_SECONDS=12
RTSP_PROBE_WORKERS=8
REFRESH_MARGIN_SECONDS=900
FALLBACK_REFRESH_SECONDS=14400
RETRY_MIN_SECONDS=30
RETRY_MAX_SECONDS=300
RUNTIME_CHECK_SECONDS=60
HEALTH_MAX_STALE_SECONDS=21600
LOG_LEVEL=INFO
